body {
  background-color: hsl(0 0% 96.1%);
}

.inline {
  display: inline;
}

.todo-main {
  width: 100%;
  max-width: 480px;
  margin: auto;
}

.todo-header {
  text-align: center;
}

.todo-header__title {
  margin: 0; /* Reset <h1> margin */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: hsl(0 57.7% 43.5% / 0.15);
}
